{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}DenemeBlog</title>
        <meta charsheet="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            {% include "partials/nav.html" %}
            {% block header %}
            {% endblock header %}
            <div class="col-md-10 offset-md-1">
                {% block body %}
                {% endblock body %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
